.landing {
    margin: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: rgba(0, 187, 255, 0.6784313725490196);

    .hero {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 30%;
        font-size: 3em;

        i{
            margin-top: 40px;
            transition: all 0.2s ease-in-out;
            &:hover{
                color: white;
                transform: scale(1.1);
            }
        }
    }

}
